/*woocommerce default styles*/
.prev_image_container .slideshow{
height:215px;
}

.prev_image_container .slide_controls{
visibility: hidden;
}


.clear{clear:both;}
.nobr{white-space:nowrap;}
.info{padding:10px 20px;box-shadow:inset 0 0 0 1px #ffffcc;-webkit-box-shadow:inset 0 0 0 1px #ffffcc;-moz-box-shadow:inset 0 0 0 1px #ffffcc;}.info a{}
div.woocommerce_error,div.woocommerce_message{margin:10px 0px;padding:10px 10px 10px 32px;background-repeat:no-repeat;background-position:10px center;}div.woocommerce_error a.button,div.woocommerce_message a.button{margin-top:0;float:right;}
div.woocommerce_error{background-background-image:url('../images/error.gif');}
div.woocommerce_message{background-background-image:url('../images/success.gif');}
p small{}
p.demo_store{position:fixed;top:0;width:100%;font-size:12px;text-align:center;background:-webkit-gradient(linear, left top, left bottom, from(#f7f5c6), to(#eeeac1));background:-webkit-linear-gradient(#f7f5c6, #eeeac1);background:-moz-linear-gradient(center top, #f7f5c6 0%, #eeeac1 100%);background:-moz-gradient(center top, #f7f5c6 0%, #eeeac1 100%);padding:8px 0;z-index:999999;box-shadow:inset 0 0 0 3px rgba(255, 255, 255, 0.3);-webkit-box-shadow:inset 0 0 0 3px rgba(255, 255, 255, 0.3);-moz-box-shadow:inset 0 0 0 3px rgba(255, 255, 255, 0.3);}
small.note{display:block;font-size:11px;line-height:21px;margin-top:10px;}
#breadcrumb{overflow:hidden;zoom:1;margin:0 0 1em;padding:0;font-size:0.92em;}#breadcrumb a{}
div.product{position:relative;margin-bottom:0;}div.product .product_title{clear:none;}
div.product p.price{color:#7E9A47;font-size:1.3em;}div.product p.price del{font-size:14px; color:#8B2121;}
div.product p.stock{font-size:0.92em;padding:2px 0 0 0;}
div.product div.images{float:left;width:47%;margin-bottom:10px;}div.product div.images img{padding:6px;display:block;width:100%;height:auto;}
div.product div.images div.thumbnails{padding-top:10px;overflow:hidden;zoom:1;}div.product div.images div.thumbnails a{float:left;width:30.75%;margin-right:3.8%;}div.product div.images div.thumbnails a img{width:100%;height:auto;}
div.product div.images div.thumbnails a.last{margin-right:0;}
div.product div.images div.thumbnails a.first{clear:both;}
div.product div.summary{float:right;width:48%;}
div.product div.social{text-align:right;margin:0 0 1em;}div.product div.social span{margin:0 0 0 2px;}div.product div.social span span{margin:0;}
div.product div.social span .stButton .chicklets{padding-left:16px;width:0;}
div.product div.social iframe{float:left;margin-top:3px;}
div.product .woocommerce_tabs{clear:both;padding:1em 0 0 0;margin:0 0 1em 0;}div.product .woocommerce_tabs ul.tabs{-webkit-border-top-left-radius:3px;-webkit-border-top-right-radius:3px;-moz-border-radius-topleft:3px;-moz-border-radius-topright:3px;border-top-left-radius:3px;border-top-right-radius:3px;overflow:hidden;zoom:1;margin:0;padding:4px 4px 0;list-style:none outside;}div.product .woocommerce_tabs ul.tabs li{float:left;margin:0 4px 0 1px;font-size:0.92em;}
div.product .woocommerce_tabs ul.tabs a{float:left;padding:6px 12px;text-decoration:none;-webkit-border-top-left-radius:2px;-webkit-border-top-right-radius:2px;-moz-border-radius-topleft:2px;-moz-border-radius-topright:2px;border-top-left-radius:2px;border-top-right-radius:2px;}
div.product .woocommerce_tabs ul.tabs li.active a{}
div.product .woocommerce_tabs .panel{border-top:0;padding:15px 15px 0;-webkit-border-bottom-left-radius:3px;-webkit-border-bottom-right-radius:3px;-moz-border-radius-bottomleft:3px;-moz-border-radius-bottomright:3px;border-bottom-left-radius:3px;border-bottom-right-radius:3px;}
.stock{color:#7E9A47;}
.out-of-stock{color:#8B2121;}
p.cart{float:right;}
form.cart{margin-bottom:24px;overflow:hidden;zoom:1;}form.cart div.quantity{float:left;margin:0 4px 0 0;}
form.cart table{font-size:12px;}form.cart table td{padding:4px 4px 4px 0;}
form.cart table div.quantity{float:none;margin:0;width:72px;}
form.cart table small.stock{display:block;float:none;}
form.cart .variations label{font-weight:bold;}
form.cart .variations select{width:100%;float:left;}
form.cart .button{vertical-align:middle;float:left;margin:2px 0;}
span.onsale{background:#7E9A47;min-height:32px;min-width:32px;padding:4px;font-size:12px;position:absolute;text-align:center;line-height:32px;top:6px;left:6px;margin:0;-webkit-border-radius:20px;-moz-border-radius:20px;border-radius:20px;}
.products ul,ul.products{margin:0 0 14px;padding:0;list-style:none;}
.related,.upsells.products{overflow:hidden;zoom:1;}.related ul.products,.upsells.products ul.products,.related ul,.upsells.products ul{float:none;}.related ul.products li,.upsells.products ul.products li,.related ul li,.upsells.products ul li{width:48%;}.related ul.products li img,.upsells.products ul.products li img,.related ul li img,.upsells.products ul li img{width:100%;height:auto;}
ul.products{clear:both;margin-left:0;padding-left:0;}ul.products li{float:left;margin:0 3.8% 20px 0;padding:0;position:relative;width:22.05%;margin-left:0;}ul.products li .onsale{top:0;right:0;left:auto;margin:-6px -6px 0 0;}
ul.products li a{text-decoration:none;}
ul.products li a img{width:100%;height:auto;display:block;margin:0 0 8px;}
ul.products li a:hover img{}
ul.products li strong{display:block;}
ul.products li .price{color:#7E9A47;display:block;font-weight:normal;}ul.products li .price del{font-size:10px;line-height:10px;margin:-2px 0 0 0;display:block;}
ul.products li .price .from{font-size:10px;line-height:10px;margin:-2px 0 0 0;display:block;}
ul.products li.first{clear:both;}
ul.products li.last{margin-right:0;}
.woocommerce_ordering{margin-bottom:24px;}
a.button.loading,button.button.loading,input.button.loading,#review_form #submit.loading{filter:alpha(opacity=@opacity * 100);-moz-opacity:0.5;-khtml-opacity:0.5;opacity:0.5;}a.button.loading:before,button.button.loading:before,input.button.loading:before,#review_form #submit.loading:before{content:"";position:absolute;height:16px;width:16px;top:0.35em;right:-26px;text-indent:0;background:url(../images/ajax-loader.gif) no-repeat;}
a.button.added:before,button.button.added:before,input.button.added:before,#review_form #submit.added:before{content:"";position:absolute;height:16px;width:16px;top:0.35em;right:-26px;text-indent:0;background:url(../images/success.gif) no-repeat;}
a.button:hover,button.button:hover,input.button:hover,#review_form #submit:hover{background-text-decoration:none;}
.cart .button,.cart input.button{float:none;}
.button.alt{padding:6px;line-height:1em;margin:4px 2px 0 0;float:left;font-size:12px;width:auto;vertical-align:middle;text-align:center;text-decoration:none;border:none;cursor:pointer;font-family:inherit;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;}
.button.alt:hover{}
#reviews h2 small{float:right;font-size:15px;line-height:21px;margin:10px 0 0 0;}#reviews h2 small a{text-decoration:none;}
#reviews h3{margin:0;}
#reviews #respond{margin:0;border:0;padding:0;}
#reviews #comment{height:75px;}
#reviews #comments .add_review{overflow:hidden;zoom:1;}
#reviews #comments h2{clear:none;}
#reviews #comments ol.commentlist{overflow:hidden;zoom:1;margin:0;width:100%;background:none;}
#reviews #comments ol.commentlist li{padding:00;margin:0 0 20px;border:0;position:relative;background:0;border:0;}#reviews #comments ol.commentlist li .meta{font-size:0.75em;}
#reviews #comments ol.commentlist li .comment-text{margin:0 0 0 50px;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;padding:11px 11px 0;}#reviews #comments ol.commentlist li .comment-text p{margin:0 0 11px;}
#reviews #comments ol.commentlist li .comment-text p.meta{font-size:0.86em;}
.star-rating{float:right;width:80px;height:16px;background:url(images/star.png) repeat-x left 0;}.star-rating span{background:url(images/star.png) repeat-x left -32px;height:0;padding-top:16px;overflow:hidden;float:left;}
#reviews .star-rating{margin:10px 0 0 0;}
#review_form #respond{overflow:hidden;zoom:1;margin:0;padding:10px 20px 20px;}#review_form #respond p{margin:0 0 10px;}
p.stars{overflow:hidden;zoom:1;}p.stars span{width:80px;height:16px;position:relative;float:left;background:url(images/star.png) repeat-x left 0;}p.stars span a{float:left;position:absolute;left:0;top:0;width:16px;height:0;padding-top:16px;overflow:hidden;}
p.stars span a:hover,p.stars span a:focus{background:url(images/star.png) repeat-x left -16px;}
p.stars span a.active{background:url(images/star.png) repeat-x left -32px;}
p.stars span a.star-1{width:16px;z-index:10;}
p.stars span a.star-2{width:32px;z-index:9;}
p.stars span a.star-3{width:48px;z-index:8;}
p.stars span a.star-4{width:64px;z-index:7;}
p.stars span a.star-5{width:80px;z-index:6;}
table.shop_attributes th{width:150px;font-weight:bold;padding:8px;margin:0;line-height:1.5em;}
table.shop_attributes td{font-style:italic;padding:0;margin:0;line-height:1.5em;}table.shop_attributes td p{margin:0;padding:8px;}
table.shop_attributes .alt td,table.shop_attributes .alt th{}
table.shop_table{margin:0px -1px 24px 0px;text-align:left;width:100%;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;}table.shop_table th{font-size:12px;font-weight:bold;line-height:18px;padding:9px 12px;}
table.shop_table td{padding:6px 12px;vertical-align:middle;}table.shop_table td a.button{margin:0 3px;}
table.shop_table tfoot td{font-weight:bold;}
table.my_account_orders{font-size:0.85em;}table.my_account_orders th,table.my_account_orders td{padding:4px 8px;vertical-align:top;}
table.my_account_orders .button{white-space:nowrap;margin:4px 0;}
table.cart img{width:32px;height:auto;}
ul.cart_list,ul.product_list_widget{list-style:none outside;padding:0;margin:0;}ul.cart_list li,ul.product_list_widget li{padding:4px 0;margin:0;overflow:hidden;zoom:1;}ul.cart_list li a,ul.product_list_widget li a{display:block;font-weight:bold;}
ul.cart_list li img,ul.product_list_widget li img{float:left;margin-right:4px;width:32px;height:auto;}
.widget_shopping_cart .total{border-top:3px double #ddd;padding:4px 0 0;margin:0;}.widget_shopping_cart .total strong{min-width:40px;display:inline-block;}
.widget_shopping_cart .buttons{overflow:hidden;zoom:1;}
a.remove{display:block;height:16px;width:16px;text-indent:-9999px;background:url(../images/remove.png) #cccccc;}
a.remove:hover{background-}
.cart th,.cart td{vertical-align:middle;}
td.actions{text-align:right;}td.actions .coupon{float:left;}td.actions .coupon label{display:none;}
td.actions .coupon .input-text{width:80px;float:left;margin:1px 6px 0 0;}
td.actions .button.alt{float:right;margin:2px 0 0 6px;}
td.product-name dl.variation{margin:0;}td.product-name dl.variation dt{font-weight:bold;display:inline;margin:0 4px 0 0;padding:0;}
td.product-name dl.variation dd{display:inline;margin:0 12px 0 0;padding:0;}
td.quantity{min-width:80px;}
.quantity input{margin-left:0;margin-right:0;}
.quantity input.qty{width:20px;display:inline;padding:1px 5px 2px;line-height:1em;vertical-align:middle;margin:0;}
.quantity input.plus,.quantity input.minus{padding:4px;vertical-align:middle;line-height:1em;border:none;width:20px;cursor:pointer;margin:0;display:inline;border:0;}
.quantity input.minus{-webkit-border-top-left-radius:5px;-webkit-border-bottom-left-radius:5px;-moz-border-radius-topleft:5px;-moz-border-radius-bottomleft:5px;border-top-left-radius:5px;border-bottom-left-radius:5px;}
.quantity input.plus{-webkit-border-top-right-radius:5px;-webkit-border-bottom-right-radius:5px;-moz-border-radius-topright:5px;-moz-border-radius-bottomright:5px;border-top-right-radius:5px;border-bottom-right-radius:5px;float:none;}
.quantity input.minus:hover,.quantity input.plus:hover{}
.cart input{width:100px;margin:0;vertical-align:middle;line-height:1em;}
.col2-set{overflow:hidden;zoom:1;width:100%;}.col2-set .col-1{float:left;width:48%;}
.col2-set .col-2{float:right;width:48%;}
.cart-collaterals{overflow:hidden;zoom:1;width:100%;}.cart-collaterals .related{width:30.75%;float:left;}
.cart-collaterals .cross-sells{width:48%;float:left;}.cart-collaterals .cross-sells ul.products{float:none;}.cart-collaterals .cross-sells ul.products li{width:48%;}
#top .cross-sells .content{width:100%; padding:0; margin:0;}
.cart-collaterals .shipping_calculator{width:48%;text-align:right;overflow:hidden;zoom:1;margin:20px 0 0 0;clear:right;float:right;}.cart-collaterals .shipping_calculator .button{width:100%;float:none;display:block;}
.cart-collaterals .shipping_calculator .col2-set .col-1,.cart-collaterals .shipping_calculator .col2-set .col-2{width:47%;}
.cart-collaterals .cart_totals{float:right;width:48%;text-align:right;}.cart-collaterals .cart_totals p{margin:0;}
.cart-collaterals .cart_totals table{-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;margin:0 0 6px;padding:0;}.cart-collaterals .cart_totals table tr:first-child th,.cart-collaterals .cart_totals table tr:first-child td{border-top:0;}
.cart-collaterals .cart_totals table td,.cart-collaterals .cart_totals table th{padding:6px 12px;}
.cart-collaterals .cart_totals table small{display:block;}
.cart-collaterals .cart_totals table select, .woocommerce-page select{width:95%; min-width: 0; margin:0;}
.cart-collaterals .cart_totals .discount td{ }
.cart-collaterals .cart_totals tr td,.cart-collaterals .cart_totals tr th{padding:6px 24px;}
.cart-collaterals .cart_totals a.button.alt{width:193px;display:block;font-size:0.92em;}
.form-row{overflow:hidden;zoom:1;padding:3px;margin:0 0 6px;}.form-row label{display:block;}
.form-row label.hidden{visibility:hidden;}
.form-row select{width:100%;cursor:pointer;margin:0;}
.form-row .required{font-weight:bold;}
.form-row .input-checkbox{display:inline;margin:-2px 8px 0 0;text-align:center;vertical-align:middle;}
.form-row label.checkbox{display:inline;}
form .form-row input.input-text,#content .form-row input.input-text,form .form-row textarea,#content .form-row textarea{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;box-shadow:inset 0 1px 4px 0 rgba(0, 0, 0, 0.1);-webkit-box-shadow:inset 0 1px 4px 0 rgba(0, 0, 0, 0.1);-moz-box-shadow:inset 0 1px 4px 0 rgba(0, 0, 0, 0.1);width:100%;padding:6px;margin:0;outline:0;background:#fff none;font-size:14px;line-height:1em;}
form .form-row textarea,#content .form-row textarea{height:3.5em;line-height:1.5em;display:block;-moz-box-shadow:none;-webkit-box-shadow:none;box-shadow:none;}
.form-row-first,.form-row-last{float:left;width:47%;overflow:visible;}
.form-row-last{float:right;}
form.login{padding:20px;margin:20px 0 20px 0px;text-align:left;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;border-style: solid;border-width: 1px;}
#payment{-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px; border-style: solid;border-width: 1px;}
#payment ul.payment_methods{overflow:hidden;zoom:1;text-align:left;padding:1em;margin:0;list-style:none outside;}
#payment ul.payment_methods li{line-height:2em;text-align:left;margin:0;font-weight:normal;  border-style: solid;border-width: 1px;}
#payment ul.payment_methods li input{margin:0 1em 0 0;}
#payment ul.payment_methods li img{vertical-align:middle;margin:-1px 0 0 0.5em;position:relative;}
#payment div.form-row{padding:1em;}
#payment label{display:inline;}
#payment #place_order{float:right;margin:0;}
#payment .terms{padding:0 1em 0;text-align:right;}
#payment div.payment_box{position:relative;width:90%;box-shadow:inset 0 1px 1px rgba(255, 255, 255, 0.5) #888888;-webkit-box-shadow:inset 0 1px 1px rgba(255, 255, 255, 0.5) #888888;-moz-box-shadow:inset 0 1px 1px rgba(255, 255, 255, 0.5) #888888;padding:1em 28px;margin:0 0 0 0;font-size:0.92em; left:-2px}#payment div.payment_box #cc-expire-month,#payment div.payment_box #cc-expire-year{width:48%;float:left;}
#payment div.payment_box #cc-expire-year{float:right;}
#payment div.payment_box span.help{font-size:11px;line-height:13px;font-weight:normal;}
#payment div.payment_box p,#payment div.payment_box .form-row{padding:0 0 1em; margin:0;}
#payment div.payment_box:after{content:"";display:block;border:8px solid;border-right-color:transparent;border-left-color:transparent;border-top-color:transparent;position:absolute;top:24px;left:-23px;margin:-1em 0 0 2em;}
div.shipping-address{padding:0;clear:left;}
#shiptobilling{float:right;line-height:1.62em;margin:0 0 0 0;padding:0;}#shiptobilling label{font-size:0.6875em;}
.checkout .col-2 h3{float:left;clear:none;}
.checkout .col-2 .notes{clear:left;}
.checkout .col-2 .form-row-first{clear:left;}
.order_details{overflow:hidden;zoom:1;margin:0 0 1.5em;list-style:none;}.order_details li{float:left;margin-right:2em;text-transform:uppercase;font-size:0.715em;line-height:1em;border-right:1px dashed #ccc;padding-right:2em;}.order_details li strong{display:block;font-size:1.4em;text-transform:none;line-height:1.5em;}
.order_details li.method{border:none;}
.addresses .title{overflow:hidden;zoom:1;}.addresses .title h3{float:left;}
.addresses .title .edit{float:right;}
ol.commentlist.notes li.note p.meta{font-weight:bold;margin-bottom:0;}
ol.commentlist.notes li.note .description p:last-child{margin-bottom:0;}
#customer_details{padding-bottom:40px;}
#payment{margin-top:40px;}


/************************************************************************
SUB Navigation
*************************************************************************/
/*first level*/
.sub_menu {
position: relative;
z-index: 130;
font-size: 11px;
float: left;
line-height: 41px;
height: 40px;
}

.sub_menu>ul{
position: relative;
top:14px;
left:-10px;
}

.boxed .sub_menu>ul{left:-10px;}

.sub_menu li{
float:left;
position: relative;
padding:0 10px;
border-right-style: solid;
border-right-width: 1px;
line-height: 10px;
}


.sub_menu>ul>li:last-child, .sub_menu>div>ul>li:last-child{
border:none;
padding-right: 0;
}

.sub_menu>ul>li>a, .sub_menu>div>ul>li>a{
}

/*second level*/
#top .sub_menu li ul{
display: none;
position: absolute;
width:170px;
padding:10px 0 0 0;
z-index: 101;
-moz-box-shadow: 0 8px 15px rgba(0,0,0,0.1);
-webkit-box-shadow: 0 8px 15px rgba(0,0,0,0.1);
box-shadow: 0 8px 15px rgba(0,0,0,0.1);
left:0;
border:none;
margin: 0;
font-size: 11px;
}

.sub_menu li:hover>ul{
display:block;
}

.sub_menu>ul>li:hover>a{
text-decoration: none;
}

.sub_menu li li{
float:none;
line-height: 20px;
border:none;
padding:0;
margin:0;
border-top-style: solid;
border-top-width: 1px;
}

#top .sub_menu li li a{
display:block;
text-decoration: none;
padding:7px 9px;
border-top: none;
}


#top .sub_menu li li a:hover{
text-decoration: none;
}

/*third level and deeper*/
.sub_menu li li ul{
top:-1px;
left:169px;
background: none;
padding: 0;
}

#top .sub_menu>ul>li li li:first-child a{

}



/*cart dropdown*/
.cart_dropdown{
position: relative;
float:right;
height:40px;
line-height: 41px;
z-index: 111;
margin:0;
}

.cart_dropdown_first {
height: 40px;
line-height: 41px;
padding: 0 0 0 0;
position: relative;
}

.cart_dropdown_first .cart_dropdown_link{
display: block;
float: left;
padding: 0 5px 0 25px;
background: transparent url("images/icon-cart.png") 0px 10px no-repeat;
position: relative;
}

#top .cart_dropdown_first .cart_subtotal:before {
content: "\2219";
text-decoration: none;
display: inline-block;
position: absolute;
font-size: 20px;
line-height: 10px;
top:14px;
left:2px;
}


.cart_dropdown_first .cart_subtotal{
display: block;
float: left;
position: relative;
padding-left:15px;
}

.cart_dropdown .dropdown_widget{
clear: both;
position: absolute;
right:-30px;
top:41px;
width:235px;
z-index: 150;
overflow: hidden;
line-height: 18px;
display: none;
-moz-box-shadow: 0 10px 15px rgba(0,0,0,0.1);
-webkit-box-shadow: 0 10px 15px rgba(0,0,0,0.1);
box-shadow: 0 10px 15px rgba(0,0,0,0.1);
}

.cart_dropdown_first:hover .dropdown_widget{
display: block;
}

div .dropdown_widget .cart_list li{
padding:15px;
border-top:none;
border-bottom-style: solid;
border-bottom-width: 1px;
font-size: 11px;
}

.dropdown_widget .cart_list li.empty{
border-bottom: none;
text-align: center;
font-weight: bold;

}

.dropdown_widget .cart_list li:nth-child(even){
}

.dropdown_widget ul.cart_list li a{
display: block;
font-weight: bold;
float: none;

}

#top .dropdown_widget a{
text-decoration: none;
}

#top .dropdown_widget li a:hover{
text-decoration: underline;
}

.dropdown_widget ul.cart_list li a img{
float:right;
display: block;

padding:2px;
margin:0;
width:32px;
height:auto;
}

.dropdown_widget .quantity{
overflow: hidden;
}

#top .dropdown_widget .total{
padding:15px 15px 0 15px;
border:none;
}

.dropdown_widget .buttons{
padding:0 15px 15px 15px;
overflow: hidden;
}

#top .dropdown_widget .buttons .button, #top .prev_image_container .widget_shopping_cart .buttons .button{
width:39%;
float: left;
}

#top .dropdown_widget .buttons .button.checkout, #top .prev_image_container .widget_shopping_cart .buttons .button.checkout{
float:right;
}

#top .update_succes{
margin: 0px 10px;
}


dl.variation{
padding:0;
margin:0;
}

dl.variation dt{
padding:0;
margin:0;
}

dl.variation dd{
padding:0;
margin: 0 0 0 3px;
font-weight: bold;
}


/************************************************************************
overwrite theme and framework css rules
*************************************************************************/

.animator2{
-webkit-transition: all ease-in-out 0.2s;
-moz-transition: all ease-in-out 0.2s;
-o-transition: all ease-in-out 0.2s;
transition: all ease-in-out 0.2s;
}

.animator3, .thumbnail_container{
-webkit-transition: all linear 0.3s;
-moz-transition: all linear 0.3s;
-o-transition: all linear 0.3s;
transition: all linear 0.3s;
}

.screen-reader-text{
display: none;
}

#top .form-row label.hidden {
visibility: hidden;
display:block;
position: relative;
}

.products .product h3, .products .product h4, .products .product h5, .products .product h6 {
padding-top:5px;
font: 13px/21px "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
font-weight: bold;
margin:0;
}

#top .onsale{
display:none;
background: rgba(0,0,0,0.8);
z-index: 10;
}

ins{
text-decoration: none;
}

#top .price, #top .price span, #top del, #top  ins{
display:inline;
text-decoration: none;
font-size: 12px;
line-height: 18px; 
font-weight: bold;
}

#top .price, div .stock{
color: #7E9A47;
}

#top .price .from{
font-weight: normal;
padding-right:2px;
}

#top #wrap_all ins{
color:#7E9A47;
}

#top #wrap_all del{
text-decoration: line-through;
font-weight: normal;
color: #8B2121;
}

#top #wrap_all ins:before {
	content: "\2219";
text-decoration: none;
display: inline-block;
padding:0 7px 0 3px;
font-size: 20px;
line-height: 12px;
}

#top .product_excerpt, #top .product_excerpt:hover{
font-size: 12px;
text-decoration: none;
}

/************************************************************************
Thumbnail
*************************************************************************/

.thumbnail_container {
display: block;
position: relative;
margin-bottom: 5px;
overflow: hidden;
}

.thumbnail_container_inner{
display: block;
position: relative;
overflow: hidden;
}


#top .thumbnail_container img, #top .thumbnail_container a:hover img{
margin:0;
display:block;
border:none;
width: 100%;
height:auto;
}

#top div.product div.images div.thumbnails {
padding-top: 10px;
overflow: hidden;
zoom: 1;
width: 104%;
}

#top div.product div.images div.thumbnails a {
float: left;
width: 16%;
margin: 0 2% 2% 0;
clear: none;
position: relative;

padding:2px;
}


#top .thumbnail_container .button{
position: absolute;
width:90%;
top:50%;
height:30px;
line-height: 30px;
margin: -32px 0 0 0;
padding:0;
left:5%;
background: rgba(0,0,0,0.7);
font-size: 11px;
text-align: center;
visibility: hidden;

}

#top #wrap_all div .thumbnail_container .button:hover{
background-color: rgba(0,0,0,0.9);
}

#top div .thumbnail_container .add_to_cart_button{
background: url(images/icons-shop-cart.png) no-repeat 10px center rgba(0,0,0,0.7);
}

#top div .thumbnail_container .show_details_button{
background: url(images/icons-shop-details.png) no-repeat 10px center rgba(0,0,0,0.7);
margin: 3px 0 0 0;
}

#top div .thumbnail_container .add_to_cart_button.product_type_grouped, #top div .thumbnail_container .add_to_cart_button.product_type_variable{
background: url(images/icons-shop-options.png) no-repeat 10px center rgba(0,0,0,0.7);
}

#top div .thumbnail_container .add_to_cart_button.added{
background: url(images/icons-shop-added.png) no-repeat 10px center rgba(0,0,0,0.7);
}

#top #wrap_all div .thumbnail_container .add_to_cart_button.loading{
background: url(images/icons-shop-loading.gif) no-repeat 14px center rgba(0,0,0,0.9);
}


/*msie button fix*/
.msie #top div .thumbnail_container .add_to_cart_button{
background: url(images/icons-shop-cart.png) no-repeat 10px center #000;
}

.msie #top div .thumbnail_container .show_details_button{
background: url(images/icons-shop-details.png) no-repeat 10px center #000;
margin: 0 0 0 0;
}

.msie #top div .thumbnail_container .add_to_cart_button.product_type_grouped, .msie #top div .thumbnail_container .add_to_cart_button.product_type_variable{
background: url(images/icons-shop-options.png) no-repeat 10px center #000;
}

.msie #top div .thumbnail_container .add_to_cart_button.added{
background: url(images/icons-shop-added.png) no-repeat 10px center  #000;
}

.msie  #top #wrap_all div .thumbnail_container .add_to_cart_button.loading{
background: url(images/icons-shop-loading.gif) no-repeat 14px center  #000;
}



#top #wrap_all #main .summary .products .thumbnail_container .button{
background-position: 2px center;
text-indent: 15px;
}


.thumbnail_container:hover .rating_container{ bottom: 0px; }
.thumbnail_container .rating_container{
height:16px;
padding:3px 0;
width:100%;
position: absolute;
bottom: -20px;
}

.thumbnail_container .rating_container .star-rating{
float: none;
margin:0 auto;
}



/*Product overview*/


.breadcrumb-trail{
position: absolute;
font-size:10px;
bottom: -9px;
left:0;
padding:0 7px 0 0;
}

#top .woocommerce_ordering{
position: absolute;
right:0;
margin:0;
z-index: 20;
top: 50%;
margin-top: -23px;
width:25%;
min-width:200px;
}

/*
.js_active #top .woocommerce_ordering select{
opacity: 0;
}
.js_active #top .title_container_image .woocommerce_ordering, .js_active #top .title_container_description .woocommerce_ordering{
top:12px;
}
.title_container{
margin: 0 0 20px 0;
padding: 0 225px 32px 0;
position: relative;

}
*/

.title_container_image{
padding-left:50px;
}

.title_container p{
font-size: 11px;
padding:0;
top:-6px;
position: relative;
}

.title_container .term_description{
padding:2px 340px 2px 0;
}

.title_container .category_thumb{
position: absolute;
left:0;
top:9px;
max-width: 40px;
height:auto;
}

.products .product.first {
clear: both;
}

#top .products .product.last, #top #main .products .product.last {
margin-right: 0;
}

div .products .product {
float: left;
margin: 0 3.3% 20px 0;
padding: 0;
position: relative;
width: 22.5%;
margin-left: 0;
}

div .products .product a:hover{
text-decoration: none;
}

.shop_columns_5 .products .product {
margin: 0 2% 20px 0;
width: 18.3%;
}

.shop_columns_3 .products .product {
margin: 0 4% 20px 0;
width: 30.5%;
}

.shop_columns_2 .products .product {
width: 48%;
}

/*single product*/

#top .product_title.page-title{
display: none;
}

#top .price_container{
position: relative;
}

#top .price_container .price, #top .price_container .price ins{
font-size: 15px;
font-weight: normal;
}

.template-shop .images a{
display: block;
position: relative;
padding: 5px;
margin-bottom: 5px;
}

#top .template-shop .images a img{
display: block;
position: relative;
border:0;
padding:0;
}


.template-shop div.product div.images{
width:100%;
float: none;
margin:=;
}

.template-shop div.product div.summary{
width:100%;
float: none;
}

.summary .cart{
float:none;
clear: both;
position: relative;
z-index: 2;
}

.template-shop .product_meta{
font-size: 10px;
text-align: right;
position: relative;
top:8px;
}

/*single sidebar*/

.prev_image_container .sidebar .inner_sidebar{
padding:30px 0 0 0;
border:none;
}

.prev_image_container .widget #s {

}

#top .prev_image_container .widget{
border:none;
}

.prev_image_container .sidebar {
width: auto;
float: none;
border: none;
padding: 0;
background: transparent;
}

#top .prev_image_container .sidebar .star-rating{
background: url(images/star.png) repeat-x left 0 #fff;
}

#top .prev_image_container .sidebar .star-rating span{
background: url(images/star.png) repeat-x left -32px #fff;
}

/*
#top .prev_image_container .sidebar .widget_search #searchsubmit, #top .prev_image_container .sidebar .widget_search #searchsubmit:hover{
height: 37px;
width: 33px;
right: 1px;
top: 1px;
cursor: pointer;
}
*/

#top .product div.images img {
display: block;
width: 100%;
height: auto;
}

/**single tabs**/

#top div.product .woocommerce_tabs {
clear: both;
padding: 1em 0 0 0;
margin: 0 0 1em 0;
}


#top div.product .woocommerce_tabs ul.tabs {
-webkit-border-top-left-radius: 0;
-webkit-border-top-right-radius: 0;
-moz-border-radius-topleft: 0;
-moz-border-radius-topright: 0;
border-top-left-radius: 0;
border-top-right-radius: 0;

border-bottom:none;
overflow: hidden;
zoom: 1;
margin: 0;
padding: 4px 4px 0;
list-style: none outside;
}


#top div.product .woocommerce_tabs ul.tabs a{
float: left;
padding: 6px 12px 9px 12px;
background: transparent;
text-decoration: none;
-webkit-border-top-left-radius: 2px;
-webkit-border-top-right-radius: 2px;
-moz-border-radius-topleft: 2px;
-moz-border-radius-topright: 2px;
border-top-left-radius: 2px;
border-top-right-radius: 2px;
}

#top div.product .woocommerce_tabs .panel {
border-width: 5px;
border-style: solid;
border-top: 0;
padding: 15px;
-webkit-border-bottom-left-radius: 2px;
-webkit-border-bottom-right-radius: 2px;
-moz-border-radius-bottomleft: 2px;
-moz-border-radius-bottomright: 2px;
border-bottom-left-radius: 2px;
border-bottom-right-radius: 2px;
}

/*related/cross/up sells*/

.related.products h2, .upsells.products h2{
display:none;
}

.related.products, .upsells.products {
overflow: hidden;
zoom: 1;
clear: both;
}

#top .related.products .content, #top .upsells.products .content{
width:100%;
float: none;
clear: both;
padding:0;
margin:0;
}

#top .product_column_2 .products .product {
width: 48%;
}

#top .product_column_3 .products .product {
margin: 0 4% 20px 0;
width: 30.8%;
}

#top .product_column_4 .products .product {
margin: 0 3.8% 20px 0;
width: 22.05%;
}

#top .product_column_5 .products .product {
margin: 0 4% 20px 0;
width: 16.5%;
}

#top .related.products h2, #top .upsells.products h2{
}

.single .product_column{
margin-bottom:1em;
}

/*profile pages, checkout etc*/
.col-1, .col-2{
position: relative;
}

.addresses.col2-set .col-1, .addresses.col2-set .col-2{
border-style: solid;
border-width:1px;
padding:13px;
width:44%;
}

.col2-set .col-1 h3, .col2-set .col-2 h3{
padding:2px;
}

.shipping_address{
clear:both;
}

#top .order_details li {
float: left;
margin:0 2em 7px 0;
text-transform: uppercase;
font-size: 0.715em;
line-height: 1em;
border-right: 1px dotted #CCC;
padding:0 2em 0 0;
list-style-position: outside;
list-style-type: none;
}

#top #main .order_details {
overflow: hidden;
zoom: 1;
margin: 0 0 1.5em;
list-style: none;
padding: 20px 20px 13px 20px;

}


table.my_account_orders th, table.my_account_orders td {
padding: 4px 8px;
vertical-align: top;
line-height: 25px;
}


div table.shop_attributes td p {
margin: 0;
padding: 0;
}

div table.shop_attributes td {
font-style: italic;
padding: 8px;

margin: 0;
line-height: 1.5em;
}

div table.shop_table td {

padding: 6px 12px;
vertical-align: middle;
}

.cart-collaterals .shipping_calculator {
width: 48%;
text-align: right;
overflow: hidden;
zoom: 1;
margin: 20px 0 0 0;
clear: right;
float: right;
}

div td.actions .button.alt {
float: right;
margin: 2px 0 0 6px;
}

div table.shop_attributes th {
width: 150px;
font-weight: bold;
padding: 8px;
border:none;
margin: 0;
line-height: 1.5em;
}

.cart-collaterals .cart_totals {
float: right;
width: 48%;
text-align: right;
}

form.cart {
margin-bottom: 44px;
overflow: hidden;
zoom: 1;
}

div form.cart table {
font-size: 12px;
width: 100%;
text-align: center;
margin:10px 0;
}

#top div form.cart table .price{
display: table-cell;
}


div form.cart table div.quantity {
float: none;
margin: 0 auto;
width: 80px;
}

div form.cart div.quantity {
float: left;
margin: 0 4px 0 0;
min-width:90px;
}

td.product-quantity{min-width:85px;}

div .cart-collaterals .cart_totals table {
border-collapse: collapse;
padding: 0;

margin:10px 0;
}

#top .variations{

}

#top .variations select{
min-width:200px;
}

#top .variations td{
padding:4px 10px;
}

#top .variations td:nth-child(2){
text-align: left;
}

div a.remove {
display: block;
height: 16px;
width: 16px;
text-indent: -9999px;
background: url(images/remove.png) #CCC;

}


/*form elements*/

div form .form-row textarea,div  #content .form-row textarea {
height: 7.5em;
line-height: 1.5em;
display: block;
-moz-box-shadow: none;
-webkit-box-shadow: none;
box-shadow: none;
}

div #shiptobilling{
position:absolute;
right:0;
top:0;
}

div #shiptobilling label {
font-size: 11px;
}

.entry-content .avia_style_wrap {
padding:0;
}

.entry-content .avia_select_unify{
-webkit-border-radius: 0;
-moz-border-radius: 0;
border-radius: 0;
width:100%;
border-width: 1px;
border-style: solid;
}

.entry-content .avia_style_wrap{
width:100%;
}


div form .form-row input.input-text, div  #content .form-row input.input-text, div  form .form-row textarea, div #content .form-row textarea {
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
-ms-box-sizing: border-box;
box-sizing: border-box;
box-shadow: none; 
-webkit-box-shadow: none;
-moz-box-shadow: none;
width: 100%;
padding: 7px;
margin: 0;
outline: 0;
background: white none;
font-size: 12px;
font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
line-height: 18px;
}

/*
input[type=text]:focus, textarea:focus, div form .form-row input.input-text:focus, div #content .form-row input.input-text:focus, div form .form-row textarea:focus, div #content .form-row textarea:focus {
box-shadow: inset 0 0 0 3px rgba(255,255,255,0.2);
-webkit-box-shadow: inset 0 0 0 3px rgba(255,255,255,0.2);
-moz-box-shadow: inset 0 0 0 3px rgba(255,255,255,0.2);
outline:0;
}
*/

#payment ul li{
list-style-type: none;
}

#payment img{display:inline-block;}

.my_account_orders a.button{
padding: 7px 12px;
}

div .quantity input.plus, div .quantity input.minus {
padding: 0;
vertical-align: middle;
line-height: 20px;
border: none;
width: 20px;
cursor: pointer;
margin: 0;
display: inline;
border: 0;
border-radius: 0;
-moz-border-radius: 0;
-webkit-border-radius: 0;
}

div .quantity input.qty {

width: 29px;
display: inline;
padding: 0px 5px 0px;
line-height: 18px;
vertical-align: middle;
margin: 0;
border-left: none;
border-right: none;
}

div td.actions .coupon .input-text {
width: 180px;
float: left;
margin: 4px 6px 0 0;

font: 12px/1.7em "Helvetica Neue",Helvetica,Arial,sans-serif;
line-height: 17px;
padding:7px;
}

#top .actions .button[name="update_cart"] {
float: right;
min-width: 182px;
margin-right: 0;
}

#top .actions .checkout-button.button.alt{
min-width:162px;
}


/************************************************************************
Generic
*************************************************************************/
.clear{clear:both;}
.nobr{white-space:nowrap;}

dt, dd{float:left;}
dt{clear:both;}
dl{padding-bottom:10px; overflow: hidden;}
.woocommerce-account dt{width:30px; display:block; font-weight: bold;}

/*messages*/
#top div.woocommerce_error, #top div.woocommerce_message{margin:0px 0px 23px 0px;padding:10px 10px 10px 32px;background-repeat:no-repeat;background-position:10px center;border-width: 1px; border-style: solid;}
#top div.woocommerce_error a.button, #top div.woocommerce_message a.button{margin-top:0;float:right; color: #4F5F39;}
#top div.woocommerce_error{ background-image: url('../images/icons/error.png');border-color: #941210;background-color: #F0DCDB;color: #941210;}
#top div.woocommerce_message{background-image: url('../images/icons/tick.png'); border-color: #8BAF5B;background-color: #E0F1B5;color: #4F5F39;}
#top div.woocommerce_error a{color: #941210;}
#top div.woocommerce_message a{color: #4F5F39;}

div .info {
padding: 10px 25px;
border-width: 1px;
border-style: solid;
background: #a6bfde url("../images/icons/info.png") no-repeat 9px center ;
border-color:#4b87d0;  color:#fff;
box-shadow: inset 0 0 0 1px #ffffcc;
-webkit-box-shadow: inset 0 0 0 1px #ffffcc;
-moz-box-shadow: inset 0 0 0 1px #ffffcc;
margin: 0 0 20px 0;
}

#top .products .info{
width:auto;
float:none;
padding:10px 10px 10px 32px;
clear:both;
margin: 0 0 23px 0;
}


mark {
background: transparent;
font-weight: bold;
}

/*button*/

div .container a.button, div a.button, div .container button.button, div .container input.button, div .container #review_form #submit {
padding: 10px;
line-height: 1em;
margin: 4px 2px 0 0;
float: left;
font-size: 12px;
width: auto;
vertical-align: middle;
text-align: center;
text-decoration: none;
border: none;
cursor: pointer;
font-family: inherit;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
position: relative;
}

#top .cart .button.alt{
clear: both;
}

#top div div.woocommerce_error a.button, #top div div.woocommerce_message a.button {
margin-top: 0;
float: right;
position: relative;
top: -6px;
left: 8px;

background: transparent;
}

#top div div.woocommerce_message a.button {

}

.quantity input{
border-width:1px;
border-style:1px;
}

/*dropdowns*/
.avia_style_wrap {
position: relative;
display: inline-block;
padding: 6px;
background: transparent url(images/bg-style-wrap.png) repeat-x bottom center;
-webkit-border-radius: 6px;
-moz-border-radius: 6px;
border-radius: 6px;
}

.avia_select_unify {

display: inline-block;

-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
z-index: 1;
background: white url(images/select.png) no-repeat right center;
cursor: pointer;
position: relative;
}

#top .avia_select_unify select {
height: 32px;
padding: 7px;
width: 198px;
background: white;
position: relative;
z-index: 10;
opacity: 0;
cursor: pointer;
float:none;
margin:0;
}

#top .avia_select_unify #shipping_method{
width:90%;
min-width: 50px;
}

.avia_select_fake_val {
font-size: 11px;
left: 7px;
line-height: 31px;
overflow: hidden;
position: absolute;
top: 1px;
width: 83%;
z-index: 2;
height: 31px;
text-align: left;
}


/*rating*/
div .star-rating, div #reviews #comments ol.commentlist li .comment-text .star-rating{
float: right;
width: 80px;
height: 16px;
background: url(images/star.png) repeat-x left 0 transparent;
}



#top div .star-rating span , div #reviews #comments ol.commentlist li .comment-text .star-rating span{
background: url(images/star.png) repeat-x left -32px transparent;
height: 0;
padding-top: 16px;
overflow: hidden;
float: left;
}

#top div p.stars span{
width: 80px;
height: 16px;
position: relative;
float: left;
background: url(images/star.png) repeat-x left 0 transparent;
}

#top div p.stars span a:hover, #top div p.stars span a:focus {
background: url(images/star.png) repeat-x left -16px transparent;
}

/*rating*/
div  .woocommerce_tabs .star-rating {
background: url(images/star.png) repeat-x left 0 transparent;
}

#top #review_form p.stars, #top #commentform p{
padding:0;
margin:0 0 10px 0;
}

#top  .woocommerce_tabs div .star-rating span {
background: url(images/star.png) repeat-x left -32px transparent;
}

.add_review{
display:none;
}

#top #reviews h2{
font: 10px/17px "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
font-weight: bold;
text-transform: uppercase;
letter-spacing: 1.5px;
}

#top #reviews h2 span{display:inline;}

#top .woocommerce_tabs .commentlist{
padding-top:20px;
}

div #reviews  .star-rating {
margin: 0 13px 0 0;
}

.woocommerce_tabs .comment_container {
float: left;
width: 100%;
}

div #reviews #comments ol.commentlist li .comment-text {
margin: 0 0 0 50px;
-webkit-border-radius: 0;
-moz-border-radius: 0;
border-radius: 0;
padding: 11px 11px 0;
}

div #reviews #comments ol.commentlist li .avatar {
float: left;
position: absolute;
top: 0;
left: 0;
padding: 3px;
width: 32px;
height: auto;
margin: 0;
line-height: 1;
border-style: solid;
border-width:1px;
}

div #reviews #comments ol.commentlist li .comment-text{
border-style: solid;
border-width:1px;
} 

#commentform .comment-form-rating  label, .logged-in div #commentform .comment-form-comment label{
position: relative;
left: auto;
display: block;
font-size: 11px;
top: auto;
}

div #reviews #comment {
height: 125px;
}

div #review_form #respond {
overflow: hidden;
zoom: 1;
border: none;
margin: 0;
padding: 0
}

#top #reviews .commentlist span{
display:inline;
}

div #reviews #comments ol.commentlist li {
padding: 0;
margin: 0 0 4px;
border: 0;
position: relative;
background: 0;
border: 0;
}

#top #review_form #respond .comment-form-rating{
position: absolute;
right: 15px;
top: 30px;
}

#top.logged-in #review_form #respond .comment-form-rating{
position: relative;right: auto;top: auto;
}


div #commentform .comment-form-comment label{
display:none;
}

.summary-main-content{
padding-bottom: 20px;
}


/*******************************************************************************************
WIDGETS - most styles copied and slightly modified from original woocommerce css file
********************************************************************************************/

/*price range filter*/
div .widget_price_filter .price_slider_wrapper .button{float:right;margin:0;}
div .widget_price_filter .price_slider_wrapper .price_slider{margin:1em .6em .6em;}
div .widget_price_filter .price_slider_wrapper .price_slider .ui-slider-handle{outline:0;}
div .widget_price_filter .price_slider_wrapper .price_slider_amount{overflow:hidden;line-height:35px;padding:4px;}
div .widget_price_filter .ui-state-default, div .widget_price_filter .ui-widget-content .ui-state-default, div .widget_price_filter .ui-widget-header .ui-state-default{font-weight:normal;}
div .widget_price_filter .ui-state-hover,div .widget_price_filter .ui-widget-content .ui-state-hover,div .widget_price_filter .ui-widget-header .ui-state-hover, div .widget_price_filter .ui-state-focus, div .widget_price_filter .ui-widget-content .ui-state-focus,div .widget_price_filter .ui-widget-header .ui-state-focus{font-weight:normal;}
div .widget_price_filter .ui-state-active, div .widget_price_filter .ui-widget-content .ui-state-active,div .widget_price_filter .ui-widget-header .ui-state-active{font-weight:normal;}
div .widget_price_filter .ui-corner-all{-moz-border-radius:24px;-webkit-border-radius:24px;border-radius:24px;}
div .widget_price_filter .ui-slider{position:relative;text-align:left;}
div .widget_price_filter .ui-slider .ui-slider-handle{position:absolute;z-index:2;width:11px;height:11px;cursor:default;}
div .widget_price_filter .ui-slider .ui-slider-range{position:absolute;z-index:1;font-size:.7em;display:block;border:0;background-position:0 0;}
div .widget_price_filter .price_slider_wrapper .ui-widget-content{}
div .widget_price_filter .price_slider_wrapper .ui-widget-header{font-weight:bold;cursor:pointer;}
div .widget_price_filter .ui-slider-horizontal{height:5px;}
div .widget_price_filter .ui-slider-horizontal .ui-slider-handle{top:-3px;margin-left:-5px; cursor:ew-resize; }
div .widget_price_filter .ui-slider-horizontal .ui-slider-range{top:0;height:80%;border-style: solid; border-width:1px;}
div .widget_price_filter .ui-slider-horizontal .ui-slider-range-min{left:0;}
div .widget_price_filter .ui-slider-horizontal .ui-slider-range-max{right:0;}


/*layered navigation*/
div .widget_layered_nav ul{margin:0;padding:0;border:0;list-style:none outside;}
div .widget_layered_nav ul li{overflow:hidden;zoom:1;padding:0 6px 0 2px; width:auto; float:none;}
div .widget_layered_nav ul li a, div .widget_layered_nav ul li span{padding:1px 0;float:left; }
div .widget_layered_nav ul li.chosen a{padding:0 0 0 18px; background: none; border:none; background:transparent url(images/cross_white.png) no-repeat 6px center;}
div .widget_layered_nav ul li.chosen {margin:2px 0; padding:3px 6px 2px 0;border:none; box-shadow:inset 0 1px 1px rgba(255, 255, 255, 0.5) #888888;-webkit-box-shadow:inset 0 1px 1px rgba(255, 255, 255, 0.5) #888888;-moz-box-shadow:inset 0 1px 1px rgba(255, 255, 255, 0.5) #888888;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;}
div .widget_layered_nav ul small.count{float:right;margin-left:6px;font-size:1em;padding:1px 0;}

/*widget product categories*/
#top .widget_product_categories ul{overflow: hidden;padding:0;margin:0;}
.widget_product_categories li{font-size: 10px;font-style: italic;padding:1px;}
.widget_product_categories li a{padding:0 0 0 9px;background: transparent url("images/bullet_grey.png") left center no-repeat;}
.widget_product_categories .children li{padding: 2px 0px 2px 10px;}
.widget_product_categories li a{font-size: 12px;font-style: normal;}

/*widget product search*/
#top .widget_product_search.widget{padding:0;border:none;margin-top:-1px;}
#top .widget_product_search.widget h3{padding-top:20px;}


/*product_list_widget*/
div ul.product_list_widget li{padding:8px 0; margin:0; overflow:hidden; zoom:1; font-size: 11px; border-top-style: dotted; border-top-width:1px;}
div ul.product_list_widget li a{display:block; font-weight:bold; font-size: 12px; line-height: 18px; }
div ul.product_list_widget li img{float:right; margin-left:4px;  width:32px; padding:2px;  height:auto;}
div ul.product_list_widget .star-rating{float:none;  position: relative; margin:3px 0 0 0;}

/*shopping cart widget*/
div .widget_shopping_cart .total{border-top:none;padding:4px 0 0;margin:0;}.widget_shopping_cart .total strong{min-width:40px;display:inline-block;}
div .widget_shopping_cart .buttons{overflow:hidden;zoom:1;}
div .widget_shopping_cart .button.checkout{float: right;}





/************************************************************************
EXTERNAL AND SCRIPS
*************************************************************************/

/* CLOUDZOOM */

.mousetrap{
top:5px !important;
left:5px !important;
width:100% !important;
Height:100% !important;
}

/* This is the moving lens square underneath the mouse pointer. */
.cloud-zoom-lens {
	
	margin:4px;	/* Set this to minus the border thickness. */
	background-	
	cursor:move;		
}

/* This is for the title text. */
.cloud-zoom-title {
	font-family:Arial, Helvetica, sans-serif;
	position:absolute !important;
	background-
	
	padding:3px;
	width:100%;
	text-align:center;	
	font-weight:bold;
	font-size:10px;
	top:0px;
	display:none;
}

/* This is the zoom window. */
.cloud-zoom-big {
	border:5px solid;
	overflow:hidden;


}

/* This is the loading message. */
.cloud-zoom-loading {
	padding:3px;
	
}




/*stretched mpds*/

.stretched .dropdown_widget_cart{

right:-1px;
}





/* PRODUCT SLIDER */

.arrow_controll {
display: block;
position: absolute;
height: 40px;
width: 40px;
background: #000 url("../images/layout/arrow_set.png") no-repeat 5px center;
text-indent: -9999px;
top: 50%;
margin:-20px 0 0 0;
z-index: 150;
-webkit-border-top-right-radius: 100px;
-webkit-border-bottom-right-radius: 100px;
-moz-border-radius-topright: 100px;
-moz-border-radius-bottomright: 100px;
border-top-right-radius: 100px;
border-bottom-right-radius: 100px;
-webkit-border-top-left-radius: 100px;
-webkit-border-bottom-left-radius: 100px;
-moz-border-radius-topleft: 100px;
-moz-border-radius-bottomleft: 100px;
border-top-left-radius: 100px;
border-bottom-left-radius: 100px;
}

.arrow_controll.arrow_controll_prev{
left: -55px;

}

.arrow_controll.arrow_controll_next{
background: #000 url("../images/layout/arrow_set.png") no-repeat -24px center;
left:auto;
right:-55px;

}

.shop_columns_2 .arrow_controll {
top: 223px;
}

.shop_columns_3 .arrow_controll {
top: 142px;
}

.shop_columns_4 .arrow_controll {
top: 105px;
}

.shop_columns_5 .arrow_controll {
top: 85px;
}

.single_slide .product>a{
text-decoration: none;
}

.prev_image_container .avia_cart{
margin: 0 0 20px 0;
padding:10px;
position: relative;
border-width: 1px;
border-style:solid;
}

#top .prev_image_container form.cart{
margin:0;
}

#top .prev_image_container form.cart .button{
clear:none;
float: right;
margin:0;
}

#top .prev_image_container form.cart .quantity.buttons_added{
position: relative;
top:5px;
}


#top .prev_image_container form.cart table .quantity.buttons_added{
position: relative;
top:0;
}

#top .prev_image_container form.cart table td{
padding: 10px 3px;
}

#top .prev_image_container form.cart table .quantity input.qty {
width: 16px;
}

#top .prev_image_container form.cart table div.quantity{
width:80px;
min-width:80px;
}

#top .avia_cart_grouped{
border:none;
background: transparent;
padding: 0;
}


/* #Media Queries
================================================== */

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {
	
	
			.boxed .cart_dropdown .dropdown_widget {
				right: -28px;
				}
				
			#top #wrap_all #main .summary .products .thumbnail_container .button {
			text-indent: 20px;
			}	
			
			.shop_columns_5 .products .product .thumbnail_container .button{
			text-indent: 20px;
			}
			
			div table.shop_table td {
			padding: 6px 5px;
			vertical-align: middle;
			}
			
	}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {
	
		#top .related.products .product, #top .upsells.products .product {
		margin: 0 4% 0 0;
		width: 48%;
		}
		
		#top .related.products .product:nth-child(even), #top .upsells.products .product:nth-child(even){
		margin: 0;
		}
		
		#top .products .product {
		margin: 0 0 20px 0;
		width: 100%;
		}
		
		.cart-collaterals .cross-sells, .cart-collaterals .cart_totals, .shipping_calculator{
		width:100%;
		}
		
		table.shop_table th {
		font-size: 11px;
		font-weight: normal;
		line-height: 18px;
		padding: 3px 4px;
		text-transform: none;
		}
		
		table.shop_table .product-remove , table.shop_table .product-thumbnail{
		display:none;
		}
		
		#top .col2-set .col-1, #top .col2-set .col-2, .cart-collaterals .shipping_calculator{
		width:89%;
		float:none;
		margin-bottom:20px;
		}
		
		#top .woocommerce_ordering{
		position: absolute;
		bottom:10px;
		left:0;
		right:auto;
		float:none;
		clear:both;
		margin:0;
		top:auto;
		}
		
		.shop_title_container{
		padding-bottom:50px;
		}
		
		.title_container .term_description{
		padding-right:0;
		}
	
	}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {
	
		#top #review_form #respond .comment-form-rating, div #shiptobilling {
		position: relative;
		right: 0;
		top: 0;
		float: none;
		}
		
		#commentform label {
		position: relative;
		left: 0;
		font-size: 11px;
		top: 0;
		font-weight: bold;
		}
		
		.boxed .cart_dropdown .dropdown_widget {
		right: -10px;
		}
		
		table.shop_table .product-subtotal{
		display:none;
		}
		
	
	
	}

